<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Women in Computer Science</title>
    <!-- link css file -->
    <link rel="stylesheet" type="text/css" href= "/css/style.css">
</head>
<body>
<header>
    <a href='/'><img src='/images/WomenLogo.png' alt="Women In Computer Science Logo"></a>
    <nav id="topNav">
        <a href='/'>Home</a>
        <a href="/login">Log In</a>
        <a href="/signup">Sign Up</a>
        <a>Profile</a>
    </nav>
    <hr/>
    <nav id="lowerNav">
        <a href='/connections'>Connections</a>
        <a href="/connections/new">Start A New Connection</a>
    </nav>
</header>