<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Women in Computer Science</title>
    <!-- link css file -->
    <link rel="stylesheet" type="text/css" href= "/css/style.css">
</head>
<body>
<header>
    <a href='/'><img src='/images/WomenLogo.png' alt="Women In Computer Science Logo"></a>
    <nav id="topNav">
        <a href='/'>Home</a>
        <%if(!user) {%>
            <a href="/users/signup">Sign Up</a>
            <a href="/users/login">Login</a>
        <%} else {%>
            <a href="/users/profile">Profile</a>
            <a href="/users/logout">Logout</a>
        <%}%>
    </nav>
    <hr/>
    <nav id="lowerNav">
        <a href='/connections'>Connections</a>
        <%if(user) {%>
            <a href="/connections/new">Start A New Connection</a>
        <%}%>
    </nav>
</header>

<%if(errorMessages.length > 0) {
    errorMessages.forEach(message=>{%>
        <div class="message">
            <%= message%>
        </div>
    <%});
}%>

<%if(successMessages.length > 0) {
    successMessages.forEach(message=>{%>
        <div class="message">
            <%= message%>
        </div>
    <%});
}%>