<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Women in Computer Science</title>
    <!-- link css file -->
    <link rel="stylesheet" type="text/css" href= "/css/style.css">
</head>
<body>
<header>
    <a href="index.html"><img src="images/WomenLogo.png" alt="Women In Computer Science Logo"></a>
    <nav id="topNav">
        <a href="/connections/new">Start A New Connection</a>
        <a>Log In</a>
        <a>Sign Up</a>
    </nav>
    <hr/>
    <nav id="lowerNav">
        <a href='/connections'>Connections</a>
    </nav>
</header>
<main>
    <p>
        Women in Computer Science is a club developed at the University of North Carolina at Charlotte to empower and support women within a male-dominated major. 
        Lasting connections and memories can be created by providing a space for women to learn and grow side-by-side. Additionally, Women in Computer Science has 
        been able to develop relationships with companies allowing our club members exclusive interviews and 
        opportunities that are not available anywhere else. 
    </p>
    <p>
        Want to attend a meeting or host your own? If you're interested in attending any club meetings or connecting with our current club members, check out the Connections section to view future events and become involved!
        If you would like to create your own event to invite like-minding women to coffee or on a study date, click on the Start a New Connection tab!
    </p>
    <p>

    </p>

</main>
<footer>
    <p>©Women In Computer Science</p>
</footer>
</body>
</html>