*{
    margin: 0px;
    padding: 0px;
    font-family: Futura;
}
header, footer{
    background-color: #203c49;
}
footer{
    bottom: 0;
    left: 0;
    position: absolute;
    color: #289dd2;
    padding: 20px;
    width: 100%;
}
footer p{
    float: left;
}
footer a{
    float: right;
    padding-right: 60px;
    text-decoration: none;
    color: #289dd2;
}
#footScroll{
    position: relative;
}
img{
    border: 3px solid white;
    border-radius: 4px;
    width: 120px;
    margin-left: 20px;
    margin-top: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#topNav{
    text-align: right;
    padding-right: 30px;
    padding-bottom: 15px;
}
#topNav a{
    padding-right: 40px;
}
#lowerNav{
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#lowerNav a{
    padding-left: 30px;
}
hr{
    background-color: white;
    height: 3px;
}
.active{
    color: #289dd2;
}
nav a:hover {
    color: #289dd2;
}
main p, h2, h3{
    margin-left: 60px;
    margin-top: 40px;
    color: #289dd2;
    margin-right: 30px;
    margin-bottom: 20px;
}
p a{
    margin-left: 80px;
    color: #289dd2;
    margin-top: 20px;
    text-decoration: none;
}
#connections a{
    text-decoration: none;
}
#connections h2{
    color: #203c49;
}
#connectionInformation{
    text-align: center;
}
#connectionInformation p{
    position: relative;
}
#content{
    height: 40px;
    width: 600px;
}
#connectionButtons{
    padding: 5px;
    margin: 20px;
}
#connectionInformation img{
    float: left;
    margin-left: 100px;
    width: 200px;
    padding: 8px;
    margin-bottom: 20px;
    margin-right: 20px;
}
#newConnection h2, #newConnection h3{
    color: #289dd2;
    text-align: center;
}
#newConnection h3{
    padding-top: 40px;
    padding-bottom: 20px;
}
#newConnection hr{
    background-color: #203c49;
    height: 3px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;
}
#startTime, #endTime{
    width: 30px;
}
div form{
    display: block;
    text-align: center;
}
form label, form input, form select, form textarea{
    color: #289dd2;
    text-align: center;
}
form input{
    border: 1px solid #203c49;
}
form label{
    padding-top: 20px;
    padding-right: 20px;
    font-size:large;
}
#button{
    background-color: #203c49;
    margin-bottom: 20px;
    padding: 5px;
}
.message{
    background: #289dd2;
    color: white;
    width: 40%;
    text-align: center;
    padding: 10px 10px;
    margin-left: 30%; 
    margin-top: 20px;
}
#profile h2{
    color: #203c49;
    text-align: center;
}
#profile h3{
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    color: #203c49;
}
#profile a h3{
    color: #289dd2;
}
#profile a{
    text-decoration: none;
}