<%- include('../partials/header.ejs')%>
<main id="about">
    <h2>About Us</h2>
    <h3>Women In Computer Science is an organization created at the University of North Carolina at Charlotte to provide a place for STEM women to connect.
        Since being established in 2018, we have grown into a 50+ member organization full of dedicated women. We are constantly accepting new members
        to ensure that every women has the necessary support to succeed.
    </h3><br>
    <h3>
        President : Autumn Horrell
    </h3>
    <p>
        Our current president is Autumn Horrell. She has been a member since 2019 and has helped Women In Computer Science grow to what it is today.
    </p>
</main>
<footer id="footScroll">
<%- include('../partials/footer.ejs')%>