<%- include('../partials/header.ejs')%>
<main>
    <h2>Contact Us</h2>
    <h3>Feel free to contact us if you have any questions about our organization! <br>
        The best way to contact us is through email at womenInCS@uncc.edu!
    </h3>
</main>
<footer>
<%- include('../partials/footer.ejs')%>